# Abaikan file hasil build Arduino
*. hex
*. elf
*. bin
# Abaikan file virtual environment Python
venv/
src/__pycache__ /
# Abaikan file sistem operasi
. DS_Store
Thumbs.db
CLAUDE.md
PANDUAN_LAPORAN.md
hybrid-socket.zip
TCP-non-blocking.zip